---
layout: main
title: Home
---
p
  | This is the (un)official website for 
  a(href="https://twocansandstring.com/forum/sandbox/11189") The TwoCans Republic
  | .

p
  | The current President is !{filters.member( filters.get_role(0) )}.
  br
  | The current Vice President is !{filters.member( filters.get_role(1) )}.

ul
  li
    .famfamfam-silk.user_gray
    a(href="/members/1") Members
  li
    .famfamfam-silk.chart_bar
    a(href="/elections/2021") Election history
  li
    .famfamfam-silk.music
    a(href="https://tinyurl.com/yzlugf8x") Anthem

small.
  Silk icons created by famfamfam. CC BY 2.5.<br>
  Website and its contents are CC0 (public domain).
